<section class="section summary-section">
  <h2 class="section-title">
    <i class="fa fa-user"></i>
    Career Profile
  </h2>
  <div class="summary">
    <p>
      Full Stack Software Developer with 10+ years of experience in designing and developing web and mobile applications using Javascript, Typescript, Angular, Ionic Framework, React and React Native, Node, Express, Feathers, Mongo, MySQL and PostgreSQL.
    </p>
    <p>
      Did Customer Service, Sales and Technical Support for 5+ yrs.
      <br/>Positive mental attitude, self motivation, pro-activity and non-stop education. All of them are about me.
    </p>
  </div>
  <!--//summary-->
</section>
<!--//section-->