<section class="section summary-section">
  <h2 class="section-title">
    <i class="fa fa-user"></i>
    Career Profile
  </h2>
  <div class="summary">
    <p>
      Front-end: web and mobile applications using Angular, Ionic, React and ReactNative. Back-end: Node server side development using Express, Feathers, Mongo, MySQL and PostgreSQL.
    </p>
    <p>
      Very much like ES6 and TypeScript. Did Customer Service, Sales and Technical Support for 5+ yrs. Positive mental attitude, self motivation, pro-activity and non-stop education. All of them are about me.
    </p>
  </div>
  <!--//summary-->
</section>
<!--//section-->