<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I believe that software engineering is a magic tool that can be used to solve any problem.. From a simple school homework to a huge and complicated industrial obstacle. Accordingly, I'm a "problem slayer" and my weapon is code. 
Whatever the technology, I'm not religious about using a specific one but I'm religious about providing an incredible solution. You can <a href="#" target="_blank">download my resume/CV here</a>.</p>
</div><!--//summary-->
</section><!--//section-->
