 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">MSc in Computer Science</h4>
    <h5 class="meta">National School of Applied Sciences • Marrakech</h5>
    <div class="time">2008 - 2010</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Applied Mathematics & Computing</h4>
    <h5 class="meta">University Hassan II • Casablanca</h5>
    <div class="time">2005 - 2008</div>
</div><!--//item-->
</div><!--//education-container-->
