<section class="section experiences-section">
  <h2 class="section-title">
    <i class="fa fa-briefcase"></i>
    Experiences
  </h2>
  <!--//item-->
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Freelancer, Agency Owner, Private entrepreneur</h3>
        <div class="time">Mar 2015 – Present</div>
      </div>
      <!--//upper-row-->
      <div class="company">Upwork</div>
    </div>
    <!--//meta-->
    <div class="details">
      <ul>
        <li>Designed and developed and supported user-friendly web and mobile apps.</li>
        <li>Trained over 10 staff members in internal functions, including steps on how to independently make minor updates or changes.</li>
      </ul>
    </div>
    <!--//details-->
  </div>
  <!--//item-->
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Frontend Engineer</h3>
        <div class="time">Mar 2015 – Dec 2016</div>
      </div>
      <!--//upper-row-->
      <div class="company">Tep.io</div>
    </div>
    <!--//meta-->
    <div class="details">
      <ul>
        <li>Developed and supported the company products: 3 web and mobile apps, corresponding back-end solutions.</li>
        <li>Designed and optimized internal development processes and dev cycles.</li>
        <li>Managed a Team of 10 developers.</li>
      </ul>
    </div>
    <!--//details-->
  </div>
  <!--//item-->
</section>
<!--//section-->